build
bin
obj
Release
Debug
*.sdf
*.pdb
*.user
*.suo
*.swp
*.swo
*.ncb
*.vshost.exe
*.vshost.exe.manifest
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/yazd/v15/sqlite3/storage.ide
